<!DOCTYPE html>
<html>
	<head>
		<title>Connectify</title>
	</head>
	<body>
		<h1>Hello there!</h1>
		<div><a href="/users/new">Want to register?<a></div><br>
		<div>
			<form action="/login" method="post">
				<label>
					Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="text" name="email" placeholder="email@email.com">
				</label><br>
				<label>
					Password:
					<input type="text" name="password" placeholder="12345678">
				</label><br>
				<input type="submit" id="login" value="Login">
			</form>
			<!-- <script type="module">
				const email = document.getElementById('email');
				const password = document.getElementById('password');
				const button = document.getElementById('login');
				button.addEventListener('click', (event) =>
				{
					const url = new URL('http://localhost:3000/login');
					url.search =  new URLSearchParams({ email: email.value, password: password.value });
					window.location.href = url;
				})
			</script> -->
		</div>
	</body>
</html>