<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Hello there <%= locals.user.name %>!</h1>
		<p><%= locals.user.name %></p>
		<p><%= locals.user.email %></p>
		<p><%= locals.user.password %></p>
	</body>
</html>