<!DOCTYPE html>
<html>
	<head>
		<title>New User Form</title>
	</head>
	<body>
		<h1>Welcome new user</h1>
		<form action="/users" method="post">
			<table>
				<tr>
					<td>First name</td>
					<td><input type="text" name="name" placeholder="John"></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="text" name="email" placeholder="john@gmail.com"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="text" name="password" placeholder="12345678"></td>
				</tr>
			</table>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>